<body>
    {{ value }}
    {% if authorized %}
        {% if files %}
            {% for file in files %}
                <div>
                    <a href="{{file.file.url}}" download="{{file.file.url}}">{{file.name}}</a>
                </div>
            {% endfor %}
        {% endif %}   
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
    
</body>